# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/

# Environment variables
.env
.venv
env/
venv/

# Databases
*.sqlite3
*.db

# IDEs and editors
.vscode/
.idea/
